:root {
    --brand-color: #FFFFFF 
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--brand-color);
    font-size: 24px;
}

header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

span {
color: #2e2f42;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-transform: capitalize;
    color: white;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #4D5AE5;
    cursor: pointer;
}

.order,
.all {
    color: white
}

.all {
    color: #4d5ae5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
}

.all:hover,
.all:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.order {
    color: white;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
}

body > button {
    font-family: "Roboto", sans-serif;
}

.order:hover,
.order:focus {
    background-color: #404BBF
}

footer {
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    background-color: #2e2f42;
    letter-spacing: 0.03em;
}

.contact {
    color: #434455;
    font-style: normal;
}

.link:hover,
.link:focus {
    color: #4D5AE5
}

.link .logo:hover,
.link .logo:focus {
    color: #404bbf
}

.logo {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.nav {
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav:hover,
.nav:focus {
    color: #404bbf
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.first {
    background-color: #2e2f42;
}

.main {
    text-align: center;
    font-size: 56px;
    letter-spacing: 0.02em;

}
