:root {
        --primary-brand: #4d5ae5;
    --pressed-state: #404bbf;
    --dark: #2E2f42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8e8f99;
    --accent: #E7E9fc;
    --light: #f4f4fd;
    --modal-overlay: #2e2f42;
    --hero-backround: #2e2f42;
    --whit-background: #FFFFFF;
    --modal-backround: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: var(--whit-background);
    font-size: 24px;
}

header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.header {
color: #2e2f42;
}

.motto {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-transform: capitalize;
    color: white;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

address {
    font-style: normal;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #4D5AE5;
    cursor: pointer;
}

.toorder,
.all {
    color: white
}

.all {
    color: #4d5ae5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
}

.all:hover,
.all:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.orderservice {
    color: white;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
}

body > button {
    font-family: "Roboto", sans-serif;
}

.orderservice:hover,
.orderservice:focus {
    background-color: #404BBF
}

footer {
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    background-color: #2e2f42;
    letter-spacing: 0.03em;
}

.footer {
    color: #f4f4fd;
}

.contact {
    color: #434455;
    font-style: normal;
    letter-spacing: 0.02em;
}

.contact:hover,
.contact:focus {
    color: #404bbf;
}

.link:hover,
.link:focus {
    color: #4D5AE5
}

.link .logo:hover,
.link .logo:focus {
    color: #404bbf
}

.logo {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.link .nav .studio {
    color: var(--dark);
    letter-spacing: 0.02em;
}

.link .nav .studio:hover,
.link .nav .studio:focus {
    color: var(--pressed-state);
}

.link .nav {
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.link .nav:hover,
.link .nav:focus {
    color: #404bbf
}
.link {
    text-decoration: none;
}

.link .pic .par {
    letter-spacing: 0.02em;
    color: #434455;

}

.list {
    list-style: none;
}

.motto {
    background-color: #2e2f42;
}

.title {
    text-align: center;
    font-size: 56px;
    letter-spacing: 0.02em;
}

.team{
    background-color: #F4F4FD;
}

.team .head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.teamlist {
    background-color: #FFFFFF;
}